.average-circle{
  width: 75px;
  height: 75px;
  margin: 35px 10px;  
  border-radius: 50%;
}

.bigger-circle{
  width: 100px;
  height: 100px; 
  border-radius: 50%;
}

.picker-container{
  position: fixed;
}

.shows{
  display: contents;
}

.not-shows{
  display: none;
}
