* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: slategray;
  font-family: sans-serif;
  margin-top: 5px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo-contenedor{
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20px;
    height: 50px;
    margin-right: 20px;
}

.title{
  color:white;
}

.form-container {
  width: 550px;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
}

.second-title{
  width: 100%;
  color:white;
}

.list-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap; 
  padding: 25px;
  margin: 10px;
  justify-content: center;
  align-items: center;   
}
